---
layout: default
---

<header id="post-header">
    <h4>
        <b>David Dahan</b><br>
        Freelance, web software engineer, blogueur, fondateur de <a href="http://www.magnetiz.fr">Magnetiz</a><br>
        4+ ans d'expérience.<hr>
        Je suis spécialisé en Python et Django.<br>
        J'interviens sur les phases de conseils, conception, développement et déploiement d'un projet.
        J'attache une importance particulière à livrer un code propre, documenté, et maintenable à travers le temps.
    </h4>
    <h5>

    </h5>
</header>


{% if site.posts.size > 0 %}
    <div class="list-group">
        {% for post in site.posts limit: 10 %}
            <a href="{{ post.url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ post.title }}<small> &ndash; <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b. %d, %Y' }}</time></small></h4>
            </a>
        {% endfor %}
    </div>
    <a href="/blog/" class="pull-right">more <i class="fa fa-long-arrow-right"></i></a>
{% else %}
    <p>No posts found.</p>
{% endif %}
